{% extends 'base.html' %}

{% block title %}
    {{ page.name|safe }} | The Ape
{% endblock %}

{% block messages %}
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
  {% endif %}
{% endblock %}

{% block content %}
    <span>
        <ul id="widgets-list">
            {% for widget in page.widgets %}
                <li class="widget">
                    {% if widget.template_name %}
                        {% include widget.template_name %}
                    {% else %}
                        <pre>
                            {{ widget }}
                        </pre>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </span>
{% endblock %}