{% extends 'base.html' %}
{% load cache %}

{% block title %}
    {{ page.name|safe }} | The Ape
{% endblock %}

{% block extra_head_css %}
  <style>
      #content {
          {% if page.background.type == "gradient" and page.background.start_color and page.background.end_color %}
              background: linear-gradient({{ page.background.start_color }}, {{ page.background.end_color }});
          {% elif page.background.color %}
              background-color: {{ page.background.color }};
          {% endif %}

          {% if page.text_color %}
              color: {{ page.text_color }} !important;
          {% endif %}
      }

      {% if page.text_color %}
          .slider-control a {
              fill: {{ page.text_color }};
          }
          .widget-header-separator {
              border-color: {{ page.text_color }};
          }
          .slider-chevrons, a.see-all {
              color: {{ page.text_color }};
          }
          .slider-chevrons {
              text-shadow: 2px 2px {{ page.background.color }};
              -webkit-text-stroke: 2px {{ page.background.color }};
          }
      {% endif %}

      {%  if page.button_color %}
          .ape-button {
              background: {{ page.button_color }};
          }
      {% endif %}

      {%  if page.button_text_color %}
          #content .ape-button {
              color: {{ page.button_text_color }};
          }
      {% endif %}

      {% if page.nav_bar_color %}
          .navbar-inverse, .widget-header {
              background-color: {{ page.nav_bar_color }};
          }
      {% endif %}
      {%  if page.nav_bar_text_color %}
          .navbar-inverse, .widget-header, .navbar-brand, .navbar-nav a {
              color: {{ page.nav_bar_text_color }}!important;
          }
      {% endif %}
  </style>
{% endblock %}


{% block messages %}
  {% if messages %}
    {% for msg in messages %}
      <div class="messages alert alert-info alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{ msg.message }}
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}

{% block content %}
  {% cache cache_timeout|default:0 page.cache_key %}
    <ul id="widgets-list">
        {% for widget in page.widgets %}
            <li class="widget widget-{{ widget.width }}">
              {% if widget.cache_key %}
                {% cache cache_timeout|default:0 widget.cache_key %}
                  {% include widget.template_name %}
                {% endcache %}
              {% else %}
                <!-- widget not cached -->
                {% include widget.template_name %}
              {% endif %}
            </li>
        {% endfor %}
    </ul>
  {% endcache %}
{% endblock %}