{% extends 'base.html' %}

{% block title %}
    {{ page.name|safe }} | The Ape
{% endblock %}

{% block extra_head_css %}
  <style>
      #content {
          {% if page.background.type == "gradient" and page.background.start_color and page.background.end_color %}
              background: linear-gradient({{ page.background.start_color }}, {{ page.background.end_color }});
          {% elif page.background.color %}
              background-color: {{ page.background.color }};
          {% endif %}

          {% if page.text_color %}
              color: {{ page.text_color }} !important;
          {% endif %}
      }

      {% if page.text_color %}
          .slider-control a {
              fill: {{ page.text_color }};
          }
          .widget-header-separator {
              border-color: {{ page.text_color }};
          }
          .slider-chevrons, a.see-all {
              color: {{ page.text_color }};
          }
          .slider-chevrons {
              text-shadow: 2px 2px {{ page.background.color }};
              -webkit-text-stroke: 2px {{ page.background.color }};
          }
      {% endif %}

      {%  if page.button_color %}
          .ape-button {
              background: {{ page.button_color }};
          }
      {% endif %}

      {%  if page.button_text_color %}
          #content .ape-button {
              color: {{ page.button_text_color }};
          }
      {% endif %}

      {% if page.nav_bar_color %}
          .navbar-inverse, .widget-header {
              background-color: {{ page.nav_bar_color }};
          }
      {% endif %}
      {%  if page.nav_bar_text_color %}
          .navbar-inverse, .widget-header, .navbar-brand, .navbar-nav a {
              color: {{ page.nav_bar_text_color }}!important;
          }
      {% endif %}
  </style>
{% endblock %}

{% block messages %}
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
  {% endif %}
{% endblock %}

{% block content %}
    <span>
        <ul id="widgets-list">
            {% for widget in page.widgets %}
                <li class="widget">
                    {% if widget.person_focus %}
                        {% with widget.person as person %}
                          {% include widget.template_name %}
                        {% endwith %}
                    {% elif widget.template_name %}
                        {% include widget.template_name %}
                    {% else %}
                        <pre>
                            {{ widget }}
                        </pre>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </span>
{% endblock %}