{% extends 'base.html' %}

{% block title %}{{ house_team.name }} | The Ape{% endblock %}

{% block content %}
	<div class="house-team-detail">
		{% if house_team.image_carousel %}
			{% with house_team.image_carousel as widget %}
				{% include 'widgets/image_carousel.html' %}
			{% endwith %}
		{% endif %}
	    <div class="house-team-members">
	    	<div class="gallery">
				<div class="widget-header">
			        <h2 class="widget-title">Cast</h2>
			    </div>
			    <div class="gallery-widget">
	    		{% for person in house_team.performers %}
					<div class="gallery-item" id="person-{{ person.id }}">
		                <div class="widget-person">
						    <a href="{{ person.url }}">
						        {% if person.image_url %}
						            <div class="widget-person-image-wrap">
						            	<img class="widget-person-image" src="{{ person.image_url }}" 
						                	alt="{{ person.name }} image">
						                	<span class="widget-person-name">{{ person.name }}</span>
						               </div>
						        {% else %}
						            <img class="widget-person-image" src="{{ person.image_url }}" 
						                alt="{{ person.name }} image">{{ person.name }}
						        {% endif %}
						    </a>
						</div>
		            </div>
				{% endfor %}
			</div>
			</div>
		</div>

		<div class="gallery">
		{% if house_team.videos %}
			{% for video in house_team.videos %}
				<div class="widget-header">
			        <h2 class="widget-title">{{ video.name|safe }}</h2>
			    </div>
				<div class="page-video">
					<video controls>
					  <source src="{{ video.video_source }}" type="video/mp4">
					  <source src="{{ video.video_source }}" type="video/ogg">
					Your browser does not support the video tag.
					</video>
					{% if widget.description %}
						<div class="video-description">
							<p>{{ widget.description }}</p>
						</div>
					{% endif %}
				</div>
			{% endfor %}
		{% endif %}
		</div>
	</div>
{% endblock %}