{% extends 'base.html' %}

{% block title %}{{ house_team.name }} | The Ape{% endblock %}

{% block content %}
	<div class="house-team-detail">
		<div class="page-banner">
	    	{% include 'widgets/image.html' with url=house_team.banner_url %}
	    </div>
	    <div class="house-team-members">
	    	<div class="gallery">
				<div class="widget-header">
			        <h2 class="widget-title">{{ house_team.name|safe }}</h2>
			    </div>
			    <div class="gallery-widget">
	    		{% for person in house_team.performers %}
					<div class="gallery-item" id="person-{{ person.id }}">
		                <div class="widget-person">
						    <a href="{{ person.url }}">
						        {% if person.image_url %}
						            <div class="widget-person-image-wrap">
						            	<img class="widget-person-image" src="{{ person.image_url }}" 
						                	alt="{{ person.name }} image">
						                	<span class="widget-person-name">{{ person.name }}</span>
						               </div>
						        {% else %}
						            <img class="widget-person-image" src="{{ person.image_url }}" 
						                alt="{{ person.name }} image">{{ person.name }}
						        {% endif %}
						    </a>
						</div>
		            </div>
				{% endfor %}
			</div>
			</div>
		</div>
	</div>

	<div class="house-team-detail-media">
		{% if house_team.videos %}
			<h2>Reel</h2>
			{% for video in house_team.videos %}
				<div class="page-video">
				    <h2>{{ video.name }}</h2>
				    {% if video.description %}<p>{{ video.description }}</p>{% endif %}
					<video controls>
					  <source src="{{ video.video_source }}" type="video/mp4">
					  <source src="{{ video.video_source }}" type="video/ogg">
					Your browser does not support the video tag.
					</video>
				</div>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}