{% extends 'base.html' %}
{% load page_tags %}

{% block title %}{{ person.name }} | The Ape{% endblock %}

{% block content %}
	<div class="person-detail">
		<div class="person-focus">
			<div class="person-focus-image">
		    	{% include 'widgets/image.html' with url=person.image_url %}
		    </div>
		    <div class="person-focus-right-column">
		    	<div class="person-focus-name">{{ person.name }}</div>
		    	<div class="person-focus-bio">{{ person.bio }}</div>
		    	{% if person.house_team %}
		    		<div class="person-focus-house-team">Plays on <a href="{{ person.house_team.path|wrapped_url }}">{{ person.house_team.name }}</a></div>
		    	{% endif %}
		    	{% if person.website %}
		    		<div class="person-focus-website">Plays on <a href="{{ person.website }}">{{ person.website }}</a></div>
		    	{% endif %}
			</div>
		</div>
	</div>

	<div class="person-detail-media">
		{% if person.videos %}
			<h2>Reel</h2>
			{% for video in person.videos %}
				<div class="page-video">
				    <h2>{{ video.name }}</h2>
				    {% if video.description %}<p>{{ video.description }}</p>{% endif %}
					<video controls>
					  <source src="{{ video.video_source }}" type="video/mp4">
					  <source src="{{ video.video_source }}" type="video/ogg">
					Your browser does not support the video tag.
					</video>
				</div>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}