{% extends 'base.html' %}

{% block title %}{{ person.name }} | The Ape{% endblock %}

{% block content %}
	<div class="person-detail">
		<div class="person-focus">
			<div class="person-focus-image">
		    	{% include 'widgets/image.html' with url=person.image_url %}
		    </div>
		    <div class="person-focus-right-column">
		    	<div class="person-focus-name">{{ person.name }}</div>
		    	<div class="person-focus-bio">{{ person.bio }}</div>
			</div>
		</div>
	</div>

	<div class="person-detail-media">
		{% if person.videos %}
			<h2>Reel</h2>
			{% for video in person.videos %}
				<div class="page-video">
				    <h2>{{ video.name }}</h2>
				    {% if video.description %}<p>{{ video.description }}</p>{% endif %}
					<video controls>
					  <source src="{{ video.video_source }}" type="video/mp4">
					  <source src="{{ video.video_source }}" type="video/ogg">
					Your browser does not support the video tag.
					</video>
				</div>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}