<div class="grp-module grp-collapse grp-dynamic-form grp-closed widget-form subform">
    <h3 class="grp-collapse-handler">
        {{ widget_form.opts.verbose_name|capfirst }}:
        {% if widget_form.instance.pk %}
            {{ widget_form.instance.name }}
        {% else %}
            (New)
        {% endif %}
    </h3>
    <ul class="grp-tools">
        <li><a href="javascript://" class="grp-icon widget grp-drag-handler" title="Move Item"></a></li>
        <li><a href="javascript://" class="grp-icon widget grp-remove-handler" title="Delete Item"></a></li>
    </ul>
    <div class="widget-form-content">
        <input type="hidden" name="{{ widget_form.prefix }}-model_name" value="{{ widget_form.opts.model_name }}"/>
        <table>
            {% if widget_form.instance.pk %}
                <tr>
                    <th><label for="id_{{ widget_form.prefix }}-readonly-id">ID:</label></th>
                    <td>
                        <input id="id_{{ widget_form.prefix }}-readonly-id" type="number"
                               value="{{ widget_form.instance.pk }}" disabled/>
                        <input type="hidden" id="id_{{ widget_form.prefix }}-id" name="{{ widget_form.prefix }}-id" value="{{ widget_form.instance.pk }}"/>
                    </td>

                </tr>
            {% endif %}
            {{ widget_form.as_table }}
        </table>
        {% if widget_form.formset %}
            {% include "admin/pages/inline/widget_formset.html" with formset=widget_form.formset %}
        {% endif %}
    </div>
</div>