{% extends "admin/change_form.html" %}
{% load i18n page_tags %}


{% block object-tools-items %}
    {% if original|can_generate_page %}
        <li>
            {% if original.page %}
                <a href="{% url "admin:pages_page_change" original.page.id %}">{% trans "Edit Page" %}</a>
            {% else %}
                <a href="{% url "admin:pages_page_generate_page" content_type_id original.id %}">{% trans "Generate Page" %}</a>
            {% endif %}
        </li>
    {% endif %}
    {{ block.super }}
{% endblock %}