{% extends 'base.html' %}
{% load page_tags %}

{% block title %}{{ ape_class.name }} | The Ape{% endblock %}

{% block content %}
<div class="gallery">
	<div class="widget-header">
    	<h2 class="widget-title">{{ ape_class.name|safe }}</h2>
	</div>
	<div class="ape-class-detail">

	    <div class="ape-class-detail-left-column">
	    	<div class="ape-class-detail-bio">{{ ape_class.bio|safe }}</div>
		</div>
		<div class="ape-class-info">
			<span class="ape-class-detail-instructor">Instructor: {{ ape_class.teacher.name }}</span>
			<span class="ape-class-detail-start-date">First class: {{ ape_class.start_day_as_date }}</span>

			<span class="ape-class-detail-sessions">Duration: {{ ape_class.num_sessions }} weeks</span>

			<span class="ape-class-detail-meeting-time">Meets on: {{ ape_class.day_of_week }}s, {{ ape_class.start_time }} to {{ ape_class.end_time }}</span>

			<span class="ape-class-detail-price">Cost: ${{ ape_class.price }}</span>
			<span class="ape-class-detail-tickets">
				{% if ape_class.id|is_full %}
			    	<a data-toggle="modal" href="javascript;">
						<button disabled='disabled' class="sold-out-button">Sold Out</button>
					</a>
			    {% else %}
					{% if request.user.is_authenticated %}
						{% if ape_class.is_free %}
							<a id="class-register-button" data-toggle="modal" href=".ape-class-{{ ape_class.id }}"><button class="ape-button">Register</button></a>
							{% include 'classes/ape_class_reservation.html' %}
						{% else %}
							<a id="class-register-button" data-toggle="modal" href="#sq-ccbox"><button class="ape-button">Register</button></a>
							{% include 'classes/ape_class_registration.html' %}
						{% endif %}
						{% if ape_class.deposit_price %}
							<a id="class-deposit-button" data-toggle="modal" href="#sq-ccbox"><button class="ape-button">Reserve with ${{ ape_class.deposit_price|floatformat }} deposit</button></a>
						{% endif %}
					{% else %}
						<a data-toggle="modal" href="{% url 'registration_register' %}"><button class="ape-button">Register!</button></a>
					{% endif %}
				{% endif %}
			</span>
		</div>
	</div>
</div>
	<div class="gallery">
		<div class="widget-header">
	        <h2 class="widget-title">{{ ape_class.teacher.name|safe }}</h2>
	    </div>
		<div class="person-detail">
			<div class="person-focus">
				<div class="person-focus-image">
			    	{% include 'widgets/image.html' with url=ape_class.teacher.image_url %}
			    </div>
			    <div class="person-focus-right-column">
			    	<div class="person-focus-bio">{{ ape_class.teacher.bio|safe }}</div>
			    	{% if person.house_team %}
			    		<div class="person-focus-house-team">Plays on <a href="{{ ape_class.teacher.house_team.path|wrapped_url }}">{{ ape_class.teacher.house_team.name }}</a></div>
			    	{% endif %}
			    	{% if person.website %}
			    		<div class="person-focus-website">Plays on <a href="{{ person.website }}">{{ person.website }}</a></div>
			    	{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_body_content %}
	<script>
		$(document).ready(function () {
			$('#class-deposit-button').on('click', function() {
				var price = {{ ape_class.deposit_price }};
				$('#amount').val(price);
				$('#sq-total-price').text('$' + price);
			});
			$('#class-register-button').on('click', function() {
				var price = {{ ape_class.price }};
				$('#amount').val(price);
				$('#sq-total-price').text('$' + price);
			});
		});
	</script>
{% endblock %}