{% extends 'base.html' %}

{% block title %}{{ ape_class.name }} | The Ape{% endblock %}
{% block page_title %}<div class="ape-class-page-name">{{ ape_class.name }}</div>{% endblock %}

{% block content %}

	<div class="ape-class-detail">
		<div class="ape-class-focus">
			<div class="ape-class-focus-image">
		    	{% include 'widgets/image.html' with url=ape_class.banner_url %}
		    </div>
		    <div class="ape-class-focus-right-column">
		    	<div class="ape-class-focus-name">{{ ape_class.name }}</div>
		    	<div class="ape-class-focus-bio">{{ ape_class.bio }}</div>
			</div>
		</div>
	</div>

	<div class="ape-class-next-session">Next session of {{ ape_class.name }} starts in x days!</div>
	<div class="ape-class-page-tickets">
		<button class="ape-button">Reserve your spot</button>
	</div>
{% endblock %}