{% load crispy_forms_tags page_tags %}

<script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/sqpaymentform.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/sqpaymentform.css">

<div class="modal fade ape-modal" id="sq-ccbox">
  <form class="well" id="nonce-form" novalidate action="{% url 'process_card' %}" method="post">
  	{% csrf_token %}
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Register for {{ ape_class.name }}</h3>
		<h4 id="sq-total-price">${{ ape_class.price }}</h4><br />
		<p>Registering as {{ request.user.get_full_name }}</p>
		<p>Confirmation email will be sent to {{ request.user.email }}</p>
	</div>
    <table>
	    <tbody>
	      <tr>
	        <td>Card Number:</td>
	        <td><div id="sq-card-number"></div></td>
	      </tr>
	      <tr>
	        <td>CVV:</td>
	        <td><div id="sq-cvv"></div></td>
	      </tr>
	      <tr>
	        <td>Expiration Date: </td>
	        <td><div id="sq-expiration-date"></div></td>
	      </tr>
	      <tr>
	        <td>Postal Code:</td>
	        <td><div id="sq-postal-code"></div></td>
	      </tr>
	      <tr>
	        <td colspan="2">
	          <button id="sq-creditcard" class="button-credit-card btn btn-primary square-button" onclick="requestCardNonce(event)">
	            Pay with card
	          </button>
	        </td>
	      </tr>
	      <tr>
	        <td colspan="2">
	          To avoid being double-charged, please click 'Pay with card' only once.
	        </td>
	      </tr>
	    </tbody>
    </table>
	<input type="hidden" id="amount" name="amount" value="{{ ape_class.price }}">
	<input type="hidden" id="purchase-model" name="purchase-model" value="ape_class">
	<input type="hidden" id="purchase-id" name="purchase-id" value="{{ ape_class.id }}">
	<input type="hidden" id="purchase-for" name="purchase-for" value="{{ ape_class.name }}">
    <input type="hidden" id="card-nonce" name="nonce">
  </form>
</div>
