{% extends 'base.html' %}

{% block title %}{{ ape_class.name }} | The Ape{% endblock %}

{% block content %}

	<div class="ape-class-detail">
		<div class="ape-class-focus">
			<div class="ape-class-focus-image">
		    	{% include 'widgets/image.html' with url=ape_class.banner_url %}
		    </div>
		    <div class="ape-class-focus-right-column">
		    	<div class="ape-class-focus-name">{{ ape_class.name }}</div>
		    	<div class="ape-class-focus-bio">{{ ape_class.bio }}</div>
			</div>
		</div>
		{% if ape_class.start_day %}
			<div class="ape-class-next-session">Next session of starts on {{ ape_class.start_day }}</div>
		{% endif %}

		<div class="ape-class-page-tickets">
			<a data-toggle="modal" href="#sq-ccbox"><button class="ape-button">${{ ape_class.price }}</button></a>
		</div>
		{% include 'classes/ape_class_registration.html' %}
	</div>
{% endblock %}