<!DOCTYPE html>
{% load staticfiles compress cache %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}The Ape{% endblock %}
    </title>
    {% block meta %}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">
    {% endblock %}

    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon"> 
    
    {% block head_css %}
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
      {% compress css %}
        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/the_ape.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/responsive.css" rel="stylesheet">
      {% endcompress %}
    {% endblock %}

    {% block extra_head_css %}{% endblock %}

    {% block head_js %}
      {% compress js file base %}
        <script src="{{ STATIC_URL }}js/jquery-2.1.4.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js" type="application/javascript"></script>
        <script src="{{ STATIC_URL }}js/the_ape.js" type="application/javascript"></script>
        <script src="{{ STATIC_URL }}js/jquery.bxslider.js" type="application/javascript"></script>
      {% endcompress %}
    {% endblock %}
  </head>

  <body>
    <div id="container">
    {% block topnav %}
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}"><img style="height:48px;margin:-15px -24px;" src="{{ STATIC_URL}}img/logo_cropped.png" /></a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'slug_page_wrapper' page_slug='classes' %}">Classes</a></li>
              <li><a href="{% url 'slug_page_wrapper' page_slug='shows' %}">Shows</a></li>
              <li id="people-page-trigger" style="width: 100px;">
                  <a href="javascript:;">
                      People&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-down"></i>
                  </a>
                  <div id="people-page-slider"></div>
              </li>
              <li><a href="{% url 'slug_page_wrapper' page_slug='apetv' %}">Ape TV</a></li>
              <li><a href="{% url 'slug_page_wrapper' page_slug='hype' %}">Hype</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if request.user.is_authenticated %}
                <li id="user-profile"><a href="{% url 'user_profile' %}"><i class="fa fa-user"></i></a></li>
                <li id="logout"><a href="{% url 'auth_logout' %}">Logout</a></li>
              {% else %}
                <li id="login"><a href="{% url 'auth_login' %}">Login</a></li>
                <li id="register"><a href="{% url 'registration_register' %}">Sign up</a></li>
              {% endif %}
            </ul>
            {% if not request.user.is_authenticated %}
              <form class='navbar-form navbar-right' method='POST' action='{% url "auth_login" %}'>{% csrf_token %}
                    <div class="form-group">
                      <input size="15" type='text' class='form-control' name='username' placeholder='email' />
                    </div>
                    <div class="form-group">
                      <input size="15" type='password' class='form-control' name='password' placeholder='password' />
                    </div>
                    <button type='submit' class='btn btn-default btn-login'>Login</button>
                  </form>
              {% endif %}
          </div>
        </div>
      </div>
    {% endblock %}

    <div class="page-content">
      {% block messages %}
        {% if messages %}
          {% for msg in messages %}
            <div class="messages alert alert-info alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ msg.message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endblock %}

      {% block content %}{% endblock %}  
      {% block extra_body_content %}
        <script>
          $(document).ready(function () {
            var pathname = window.location.pathname;
            $('.nav > li > a[href="'+pathname+'"]').parent().addClass('active');

            if ($(window).width() < 768) {
                $('#people-page-trigger').hide();
            }

            $(window).resize(function () {
                if ($(window).width() < 768) {
                  // its less then, and we want to hide the menu if nav is not active
                  $('#people-page-trigger').hide();
                }
                else {
                  $('#people-page-trigger').css("display", "inline-block");
                }
            });

            $("#people-page-trigger").hover(function () {
                if ($("#people-page-slider").is(":visible")) {
                    $(this).find("i").removeClass("fa fa-chevron-up");
                    $(this).find("i").addClass("fa fa-chevron-down");
                    $("#people-page-slider").slideUp(200);
                } else {
                    $('#people-page-slider').html($('.dropdown-peoplelist').html());
                    $(this).find("i").removeClass("fa fa-chevron-down");
                    $(this).find("i").addClass("fa fa-chevron-up");
                    $("#people-page-slider").slideDown(200);
                    $('.page-list-text').append(' <i class="fa fa-chevron-down">');
                }
            });

            $('#people-page-slider').on('hover', function () {
                if ($(this).find("ul").is(":visible")) {
                    $(this).find("ul").slideUp(200);
                    $(this).find("span").css('border-bottom', 'none');
                    $(this).find("i").removeClass("fa fa-chevron-up");
                    $(this).find("i").addClass("fa fa-chevron-down");
                } else {
                    $(this).find("ul").slideDown(200);
                    $(this).find("span").css('border-bottom', '2px solid black');
                    $(this).find("i").removeClass("fa fa-chevron-down");
                    $(this).find("i").addClass("fa fa-chevron-up");
                }
            });
          });
        </script>

        {% cache cache_timeout|default:0 featured_page_list %}
            <script type="text/html" class="dropdown-peoplelist">
                <ul id="nested-people-dropdown-list">
                  <li><a href="{% url 'slug_page_wrapper' page_slug='faculty' %}">Faculty</a></li>
                  <li><a href="{% url 'slug_page_wrapper' page_slug='talent' %}">Talent</a></li>
                  <li><a href="{% url 'slug_page_wrapper' page_slug='houseteams' %}">House Teams</a></li>
                </ul>
            </script>
        {% endcache %}

      {% endblock %}
    </div>
    <br />
    <div id="footer">
      <ul>
        <li>The Ape is a 501c3 non profit.</li>
      </ul>
    </div>

    {% block extra_js %}{% endblock %}
    </div>
  </body>
</html>
