{% extends 'base.html' %}
{% load page_tags %}

{% block title %}{{ event.name }}{% endblock %}

{% block content %}
	<div class="page-banner">
		{% include 'widgets/image.html' with url=event.banner_url %}
	</div>
	<div class="gallery">
		<div class="widget-header">
	    	<h2 class="widget-title">{{ event.name_with_date|safe }}, {{ event.event_time }}</h2>
		</div>
		<div class="event-detail">
			<div class="event-page-bio">
				<p>{{ event.bio|safe }}</p>
			</div>
			<div class="ape-class-page-tickets">
				{% if not event.is_free %}
					<div class="num-tickets">
	                  <input disabled='disabled' type="button" value="-" id="ticket-minus" class="ticket-amount-button">
	                  <input type="text" step="1" min="1" name="ticket-quantity" id="ticket-quantity" value="0" size="4" readonly>
	                  {% if event.id|is_sold_out %}
	                  	<input disabled='disabled' type="button" value="+" id="ticket-plus" class="ticket-amount-button">
	                  {% else %}
	                 	 <input type="button" value="+" id="ticket-plus" class="ticket-amount-button">
	                  {% endif %}
	                </div>
	            {% endif %}

                {% if event.id|is_sold_out %}
                	<a data-toggle="modal" href="javascript;">
						<button disabled='disabled' class="sold-out-button">Sold out!</button>
					</a>
                {% else %}
	                {% if event.is_free %}
	                	<a data-toggle="modal" href=".event-{{ event.id }}">
							<button class="ape-button">Reserve my seat</button>
						</a>
						{% include 'events/event_seat_reservation.html' %}
	                {% else %}
						<a data-toggle="modal" href=".event-{{ event.id }}">
							<button disabled='disabled' class="ape-button">Purchase Tickets</button>
						</a>
						{% include 'events/event_ticket_purchase.html' %}
					{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_body_content %}
	<script>
		function decrement_ticket_count() {
		    $('#ticket-quantity').val( function(i, oldval) {
		        return --oldval;
		    });
		}
		function increment_ticket_count() {
		    $('#ticket-quantity').val( function(i, oldval) {
		        return ++oldval;
		    });
		}
		function update_price() {
			var quantity = $('#ticket-quantity').val();
			var total = quantity * {{ event.ticket_price }};
			$('#sq-num-tickets-display').text('Tickets: ' + quantity);
			$('#sq-num-tickets').val(quantity);
			$('#sq-total-price').text('Total: $' + total);
			$('#amount').val(total);

			if (quantity >= {{ event.tickets_left }}) {
				$('#ticket-plus').prop('disabled', true);
			} else {
				$('#ticket-plus').prop('disabled', false);
			}

			if (quantity == 0) {
				$('.ape-button').html('Purchase tickets');
				$('.ape-button').prop('disabled', true);
				$('#ticket-minus').prop('disabled', true);
			}
			else if (quantity == 1) {
				$('.ape-button').html('Purchase ' + quantity + ' ticket for ' + '$' + total);
				$('.ape-button').prop('disabled', false);
				$('#ticket-minus').prop('disabled', false);
			}
			else {
				$('.ape-button').html('Purchase ' + quantity + ' tickets for ' + '$' + total);
				$('.ape-button').prop('disabled', false);
			}
		}

		$(document).ready(function () {
			$('#ticket-minus').on('click', function() {
				decrement_ticket_count();
				update_price();
			});
			$('#ticket-plus').on('click', function() {
				increment_ticket_count();
				update_price();
			});
		});
	</script>
{% endblock %}