{% extends 'base.html' %}

{% block title %}{{ event.name }}{% endblock %}

{% block content %}
	<div class="event-page-banner">
		<img src="{{ event.banner_url }}" />
	</div>
	<p class="widget-header">{{ event.name|safe }}</p>
	<div class="event-page-bio">
		<p>{{ event.bio|safe }}</p>
	</div>
	<div class="ape-class-page-tickets">
		<a data-toggle="modal" href=".event-{{ event-id }}">
			<button class="ape-button">${{ event.ticket_price }}</button>
		</a>
	</div>
	{% include 'events/event_ticket_purchase.html' %}
{% endblock %}