{% extends 'base.html' %}

{% block title %}{{ event.name }}{% endblock %}

{% block content %}
	<div class="event-page-banner">
		<img src="{{ event.banner_url }}" />
	</div>
	<p class="widget-header">{{ event.name|safe }}</p>
	<div class="event-page-bio">
		<p>{{ event.bio|safe }}</p>
	</div>
	<div class="ape-class-page-tickets">
		{% if is_purchased %}
			<a href="#"><button class="ape-button">You're going!</button></a>
		{% else %}
			<a data-toggle="modal" href="#sq-ccbox"><button class="ape-button">Buy tickets</button></a>
		{% endif %}
	</div>
	{% include 'events/event_ticket_purchase.html' %}
{% endblock %}