<div class="page-row-focus">
    <h2>{{ widget.name }}</h2>
        <div class="carousel">
            <div id="prev-items-{{ widget.id }}" class="slider-control prev"></div>
            <div id="widget-row-{{ widget.id }}" class="widget-row-focus">
                {% for movie in widget.items %}
                    <div class="row-focus-item" id="movie-{{ movie.id }}">
                        {% include 'widgets/items/movie.html' %}
                    </div>
                {% endfor %}
            </div>
            <div id="next-items-{{ widget.id }}" class="slider-control next"></div>
            <div class="cheat"></div>
        </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var widgetRowFocus =  $("#widget-row-{{ widget.id }}");
        widgetRowFocus.bxSlider({
            minSlides: 2,
            maxSlides: 5,
            slideWidth: 200,
            slideMargin: 10,
            pager: false,
            adaptiveHeight: true,
            nextSelector: "#next-items-{{ widget.id }}",
            prevSelector: "#prev-items-{{ widget.id }}",
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>'
        });
        $('.carousel').css('margin-top','10px');
    });
</script>