/* -----------  ----------- */
@media screen and (max-width: 1000px) {
    #login {
        display: block;
    }
    form.navbar-right {
        display: none;
    }
}


/* -----------  ----------- */
@media screen and (max-width: 767px) {
    .gallery-item {
        background-color: inherit;
        border: none;
        text-align: center;
        font-weight: bold;
        font-size: 11px;
        margin: 0 auto 20px 0;
        display: inline-block;
    }
    .widget-person {
        width: 300px;
    }
    .widget-person-image {
        width: 300px;
    }
    .person-focus-image {
        width: 300px;
    }
    .person-focus-name {
        font-size: 30px;
    }

    .about-the-ape-text {
        width: 100%;
        margin: 10px;
        display: block;
    }
    .ape-map {
        display: block;
        width: 100%;
        height: 400px;
    }

    .ape-class-focus-image {
        width: 90%;
        float: none; 
        padding: 10px;
        margin-left: 5%;
    }

}

/* -----------  ----------- */
@media screen and (max-width: 660px) {
    .person-focus-right-column {
        display: inline-block;
    }
    .person-focus-image {
        width: 400px;
    }
    .person-focus-name {
        font-size: 30px;
    }

}

/* -----------  ----------- */
@media screen and (max-width: 500px) {
    .person-detail {
        margin-top: 0px;
    }
    .person-focus {
        padding: 10px 0px;
    }
    .person-focus-image {
        width: 100%;
    }
}