/* -----------  ----------- */
@media screen and (min-width: 1300px) {
    .widget-two-thirds {
        width: 66%;
    }
}

/* -----------  ----------- */
@media screen and (max-width: 1000px) {
    #login {
        display: block;
    }
    form.navbar-right {
        display: none;
    }
    .hide-on-tablet {
        display: none;
    }
    .ape-class-teacher {
        width: 25%;
    }
    .ape-event-list-item-name {
        padding-top: 15px;
    }
    .ape-event-list-item-start-time {
        padding-top: 15px;
    }
    .ape-event-list-item-price {
        padding-top: 15px;
    }
}

@media screen and (max-width: 905px) {
    .gallery {
        margin: 20px;
    }
}


/* -----------  ----------- */
@media screen and (max-width: 767px) {
    .navbar-nav {
        max-height: none;
    }
    .hide-on-mobile {
        display: none;
    }
    .ape-class-start-date {
        width: 18%;
    }
    .ape-class-name {
        width: 33%;
    }
    .ape-class-buy {
        width: 13%;
    }
    .ape-workshop-name {
        width: 42%;
    }
    .ape-workshop-teacher {
        width: 30%;
    }
    .navbar-collapse {
        width: 150px; 
        float: right; 
    }
    .gallery-item {
        background-color: inherit;
        border: none;
        text-align: center;
        font-weight: bold;
        font-size: 11px;
        display: inline-block;
        padding: 15px 10px
    }
    .widget-person {
        width: 125px;
    }
    .widget-person-image {
        width: 125px;
    }
    .person-focus-image {
        width: 300px;
    }
    .person-focus-name {
        font-size: 30px;
    }
    .about-the-ape-text {
        width: 100%;
        margin: 10px;
        display: block;
    }
    .ape-map {
        display: block;
        width: 100%;
        height: 400px;
    }
    .ape-class-focus-image {
        width: 97%;
        float: none;
        padding: 10px;
        margin-left: 1.5%;
    }
    .ape-class-focus-right-column {
        padding: 0 3.5%;
    }
    .wide-item {
        width: 100%;
    }
    .ape-calendar iframe {
        height: 500px;
    }
    .ape-event-list-item-name {
        width: 33%;
    }
    .ape-event-list-item-start-time {
        width: 28%;
    }
    .ape-event-list-item-price {
        width: 22%;
    }
    .ape-event-list-item-buy {
        margin-right: 7%;
    }
}

/* -----------  ----------- */
@media screen and (max-width: 660px) {
    .widget-two_thirds, .widget-half, .widget-one_third {
        width: 100%;
    }
    .person-focus-right-column {
        display: inline-block;
    }
    .person-focus-image {
        width: 400px;
    }
    .person-focus-name {
        font-size: 30px;
    }
    .user-profile table {
        width: 90%;
        margin-left: 5%;
    }
    .ape-modal {
        width: 95%;
        left: 2.5%;
    }
    #sq-ccbox {
        padding: 5px;
    }
    .ape-map {
        height: 300px;
    }
    .ape-calendar iframe {
        height: 400px;
    }
    .ape-class-name {
        width: 20%;
    }
    .ape-class-teacher {
        width: 31%;
    }
    .ape-class-buy {
        margin-right: 8%;
    }
    .ape-class-detail {
        display: block;
    }
    .ape-class-detail-image {
        width: 100%;
        margin-bottom: 20px;
    }
    .ape-class-detail-left-column {
        width: 90%;
        float: left;
        margin: 0px 0 0 5px;
    }
    .ape-class-info {
        float: left;
        width: 80%;
        margin: 40px 20px 20px 5px;
    }
    .ape-event-list-item-name {
        padding: 15px 10px;
    }
    .ape-event-list-item-price {
        display: none;
    }
    .ape-event-list-item-start-time {
        width: 35%;
    }
    .ape-event-list-item-buy {
        margin-right: 10%;
    }
    .page-video video {
        width: 100%;
        margin-left: 0;
    }
}

/* -----------  ----------- */
@media screen and (max-width: 500px) {
    .ape-class-start-date {
        display: none;
    }
    .ape-class-buy {
        margin-right: 11%;
    }
    .ape-class-item-element .ape-button {
        padding: 10px 15px;
    }
    .ape-class-name {
        width: 30%;
    }
    .ape-class-teacher {
        width: 35%;
    }
    .gallery {
        margin: 10px;
    }

    .person-detail {
        margin-top: 0px;
    }
    .person-focus {
        margin: 0;
        padding: 0;
    }
    .person-focus-image {
        width: 100%;
        padding: 10px;
        margin: 0;
    }
    .ape-event-ticket {
        width: 90%;
        margin: 0;
    }
    .ape-calendar iframe {
        height: 300px;
    }
    .gallery th, td {
        padding: 0; 
        font-size: 10px;
    }
    .event-time-icon {
        display: none;
    }
    .ape-event-list-item-buy {
        margin-right: 16%;
    }
}