/*! project specific CSS goes here. */

body {
	padding-top: 31px;
    background: #E1E3E4;
    margin:  0px;
}

ul {
    list-style: none;
}

img {
    border: none;
}

input[type="radio"] {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox;    /* Firefox */
    -ms-appearance: checkbox;     /* not currently supported */
}

/* start navigation bar */
.container {
    margin-left: 0!important;
    margin-right: 0!important;
    width: 100%;
}

.navbar-nav {
    float: right;
    margin: 0;
    width: 85%;
}

#logout {
    float: right;
}
/* end navigation bar */


/* start main page layout */
.page-content {
    padding: 0 20px;
    margin: 20px 0 0 0; /* 20px for the fixed nav bar */
}

.page-content h2 {
    color: black;
    padding: 0px;
    margin-top: 10px;
}


#widgets-list {
    margin: 20px 0 10px 0;
    padding:0;
}

#widgets-list h2 {
    margin-top: 30px;
}
/* end main page layout */


/* start banner widget */
.page-banner {
    margin: 0 -20px 1px -20px;
}
/* end banner widget */


/* gallery widget */
/* gallery widget */

.gallery-widget {
    width: 100%;
    text-align: center;
    position:  relative;
    overflow: hidden;
}

.gallery-item {
    background-color: inherit;
    border: none;
    text-align: center;
    font-weight: bold;
    font-size: 11px;
    padding: 0 10px 10px;
    margin: 0 auto 0 0;
    display: inline-block;
    vertical-align: bottom;
}

.gallery-item h3 {
    padding: 10px;
}

.gallery-item p {
    text-align: center;
    padding: 0;
}

.gallery-item-image-wrap {
    height: 255px;
}

.gallery-item-image {
    height:auto;
    width: 100%;
}

.gallery-item-title {
    font-size:14px;
    margin: 8px 0 3px 0;
    position:relative;
    overflow: hidden;
}

.gallery-item-subtitle {
    font-weight: normal;
    font-size:14px;
    overflow: hidden;
}

.gallery-title-only-container {
    position:relative;
    vertical-align: middle;
}

.gallery-title-only-link {
    font-size:18px !important;
}

.gallery-title-only-link:hover {
    color: #ba2d00 !important;
}
/* end gallery widget */


/* start gallery widget event item */
.event-image {
    width: 400px;
}
.event-name {
    font-weight: bold;
    font-size: 14px
}
/* end gallery widget event item */


/* start gallery widget ape class item */
.ape-class-image {
    width: 400px;
}
.ape-class-name {
    font-weight: bold;
    font-size: 14px
}
/* end gallery widget class item item */


/* start image carousel widget */
.carousel {
    text-align: center;
    position: relative;
}
.carousel i {
    font-size: 32px;
    color: #000;
}
.bx-wrapper {
    width: 86%;
}
.slider-control.prev {
    text-align: right;
    position: absolute;
    top: 40%;
    left: 1%;
}

.slider-control.next {
    text-align: left;
    position: absolute;
    top: 40%;
    right: 1%;
}
/* end image carousel widget */


/* ----- people widget ------*/
.person-image-wrap {
    width: 150px;
    padding: 0;
}

.person-image-wrap a {
    color: black;
    font-size: 12px;
}

.widget-person-image {
    width: 150px;
    margin-bottom: 10px;
}

/* ----- end people widget ------*/


/* ----- start person focus widget ------*/
.person-focus {
    height: auto;
    padding: 0 20px;
    display: inline-block;
}
.person-focus-image {
    width: 300px;
    float: left;
    padding: 10px;
}

.person-focus-name {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}
.person-focus-bio {
    padding: 10px;
    margin: 0px 30px;
}
/* ----- start person focus widget ------*/


/* ----- start person detail page ------*/
.person-page-name {
    margin-top: 30px;
}
.person-page-headshot img {
    width: 400px;
}

/* ----- end person detail page ------*/


/* ----- event detail page ------*/
.event-page-name {
    margin-top: 30px;
}
.event-page-banner img {
    width: 100%;
}
.event-page-bio {
    font-size: 16px;
    text-align: center;
    padding: 5px 25px;
}
.event-page-tickets {
    text-align: center;
}
/* ----- end event detail page ------*/

/* ----- start class detail page ------*/
.ape-class-page-name {
    margin-top: 30px;
}
.ape-class-page-banner img {
    width: 400px;
}
/* ----- end class detail page ------*/
