{% load page_tags %}
<div class="gallery">
	<div class="widget-header">
    	<h2 class="widget-title">{{ widget.ape_class.name|safe }}</h2>
	</div>
	<div class="ape-class-focus">
		<div class="ape-class-focus-image">
	    	{% include 'widgets/image.html' with url=widget.ape_class.banner_url %}
	    </div>
	    <div class="ape-class-focus-right-column">
	    	<div class="ape-class-focus-bio">{{ widget.ape_class.bio|safe|linebreaksbr }}</div>
	    	<div class="ape-class-page-tickets">
				{% if request.user.is_authenticated %}
					{% if request.user.id|is_registered:widget.ape_class.id %}
						<a href="#"><button class="ape-button">Your spot is reserved</button></a>
					{% else %}
						<a data-toggle="modal" href="{% url 'ape_class_wrapper' widget.ape_class.id %}"><button class="ape-button">Reserve your spot</button></a>
					{% endif %}
				{% else %}
					<a data-toggle="modal" href="{% url 'login' %}"><button class="ape-button">Reserve your spot</button></a>
				{% endif %}
			</div>
		</div>
	</div>
</div>