{% load page_tags %}

<div class="gallery">
	<div class="widget-header">
    	<h2 class="widget-title">{{ widget.name|safe }}</h2>
	</div>
    <div class="gallery-widget" id="gallery-widget-{{ widget.id }}">
	        {% for item in widget.items %}
	        	{% if widget.item_type == 'event' %}
		            <div class="gallery-item wide-item" id="event-{{ item.id }}">
		            	{% with item as event %}
		                	{% include 'widgets/items/event.html' %}
		                {% endwith %}
		            </div>
		        {% elif widget.item_type == 'person' %}
		        	<div class="gallery-item" id="person-{{ item.id }}">
		        		{% with item as person %}
		                	{% include 'widgets/items/person.html' %}
		                {% endwith %}
		            </div>
		        {% elif widget.item_type == 'ape_class' %}
		        	<div class="gallery-item wide-item" id="ape-class-{{ item.id }}">
		        		{% with item as ape_class %}
		                	{% include 'widgets/items/ape_class.html' %}
		                {% endwith %}
		            </div>
		        {% endif %}
	        {% endfor %}
    </div>
</div>