{% load page_tags %}
<div class="page-row">
    <div class="widget-header">
        <h2 class="widget-title">{{ widget.name|safe }}</h2>
    </div>
    <div class="row-carousel">
        <div id="prev-items-{{ widget.id }}" class="slider-control prev"></div>
        <div id="widget-row-{{ widget.id }}" class="widget-row">
                {% for item in widget.items %}
                    {% if widget.item_type == 'video' %}
                        {% with item as video %}
                            {% include 'widgets/items/video_row_item.html' %}
                        {% endwith %}
                    {% else %}
                        <div class="row-widget-item">
                            <a class="cover " href="{{ item.path|wrapped_url }}" title="{{ item.name }}">
                                {% include 'widgets/image.html' with url=item.image name=item.name alt_text=item.name %}
                            </a>
                            <p>{{ item.name }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
        </div>
        <div id="next-items-{{ widget.id }}" class="slider-control next"></div>
        <div class="cheat"></div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var widgetRow =  $("#widget-row-{{ widget.id }}");
        widgetRow.bxSlider({
            minSlides: 1,
            maxSlides: 5,
            slideWidth: {% if widget.item_type == 'video' %}700{% else %}300{% endif %},
            slideMargin: {% if widget.item_type == 'video' %}15{% else %}34{% endif %},
            adaptiveHeight: true,
            pager: false,
            nextSelector: "#next-items-{{ widget.id }}",
            prevSelector: "#prev-items-{{ widget.id }}",
            prevText: "<i class=\"slider-chevrons fa fa-chevron-left\"></i>",
            nextText: "<i class=\"slider-chevrons fa fa-chevron-right\"></i>",
            onSlideAfter: function() { widgetRow.trigger("scroll") }
        });
    });
</script>