<div class="page-video">
    <h2>{{ widget.name }}</h2>
    {% if widget.description %}<p>{{ widget.description }}</p>{% endif %}
	<video id="video-{{ widget.id }}">
	  <source src="{{ widget.video_source }}" type="video/mp4">
	  <source src="{{ widget.video_source }}" type="video/ogg">
	Your browser does not support the video tag.
	</video>
	<div class="control">
	    <a href="javascript;" class="btnPlay"><i class="fa fa-play"></i></a>
	</div>
	<div class="progressBar">
	    <div class="timeBar"></div>
	</div>

	<div class="progressTime">
	    <span class="current"></span>
	    Video duration: <span class="duration"></span>
	</div>
</div>

<script>
	$(document).ready(function () {
		$('.progressBar').mouseup(function(e) {
			console.log(e.pageX);
		    updatebar(e.pageX);
		});

		var video = $('#video-{{ widget.id }}');
		$('.btnPlay').on('click', function() {
		    if(video[0].paused) {
		        video[0].play();
		    }
		    else {
		        video[0].pause();
		    }
		    return false;
		});
		//get HTML5 video time duration
		video.on('loadedmetadata', function() {
		    $('.duration').text(video[0].duration);
		});
		 
		//update HTML5 video current play time
		video.on('timeupdate', function() {
			$('.current').text(video[0].currentTime);

			var currentPos = video[0].currentTime; //Get currenttime
    		var maxduration = video[0].duration; //Get video duration
    		var percentage = 100 * currentPos / maxduration; //in %
    		$('.timeBar').css('width', percentage+'%');
		});
		 
		//update Progress Bar control
		var updatebar = function(x) {
			console.log('updateBar', x);
		    var progress = $('.progressBar');
		    var maxduration = video[0].duration; //Video duraiton
		    var position = x - progress.offset().left; //Click pos
		    var percentage = 100 * position / progress.width();
		    console.log('percentage: ', percentage);
		 
		    //Check within range
		    if(percentage > 100) {
		        percentage = 100;
		    }
		    if(percentage < 0) {
		        percentage = 0;
		    }
		 	console.log('current time: ', maxduration * percentage / 100);
		    //Update progress bar and video currenttime
		    $('.timeBar').css('width', percentage+'%');
		    video[0].currentTime = maxduration * percentage / 100;
		};

	});
</script>