<div class="gallery">
	<div class="widget-header">
    	<h2 class="widget-title">{{ widget.name|safe }}</h2>
	</div>

	<div class="page-video" id="video-{{ widget.id }}">
		<video controls>
		  <source src="{{ widget.video_source }}" type="video/mp4">
		  <source src="{{ widget.video_source }}" type="video/ogg">
		  Your browser does not support the video tag.
		</video>
		{% if widget.description %}
			<div class="video-description">
				<p>{{ widget.description }}</p>
			</div>
		{% endif %}
	</div>
</div>