{% extends 'pages/page.html' %}
{% load static page_tags i18n %}

{% block extra_css %}
	{{ block.super }}
	<link href="{% static 'css/movie_profile.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    {{ movie.title }}
{% endblock %}


{% block content %}
    <div id="movie-profile" style="display:block;">
        <div id="movie-cover-image">
            <img id="movie-cover" src="{{ movie.image.url }}" width="320px">
        </div>

        <div id="movie-title">
            <h1>{{ movie.title }}</h1>
        </div>

        <div id="movie-sub-header">

            <div id="movie-watch-now">
                <div class="movie-details">
                    {% block details %}
	                    <ul class="movie-genres">
                            <strong>Genres</strong>
                            {% for genre in movie.genres %}
	                    	  <li><a href="{{ genre.path|wrapped_url }}">{{ genre.name }}</a></li>
                            {% endfor %}
	                    </ul>
                    {% endblock %}
                </div>
            </div>
        </div>

        <div class="movie-description">
            <p>{{ movie.plot|safe }}</p>
        </div>

        <div id="movie-details" class="hidden-on-mobile">
            <div id="profile-directors">
                <h3>{% trans 'Directed By' %}</h3>
                <ul class="credits-list">
                    {% for director in movie.directors %}
                        <li class="credits-list-item"><a href="{{ director.path|wrapped_url }}">{{ director.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div id="profile-actors">
                <h3>{% trans 'Featuring' %}</h3>
                <ul class="credits-list">
                    {% for actor in movie.actors %}
                        <li class="credits-list-item"><a href="{{ actor.path|wrapped_url }}">{{ actor.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div id="profile-writers">
                <h3>{% trans 'Written By' %}</h3>
                <ul class="credits-list">
                    {% for writer in movie.writers %}
                    	<li class="credits-list-item"><a href="{{ writer.path|wrapped_url }}">{{ writer.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="movie-footer" style="display:block;">
            {% if movie.related > 0 %}
                <h4>Similar Titles</h4>
                <div class="carousel">
                    <div id="prev-items-{{ movie.id }}" class="slider-control prev"></div>
                    <div id="widget-row-{{ movie.id }}" class="widget-row-focus">
                        {% for movie in movie.related.0.items %}
                            <div class="row-focus-item" id="movie-{{ movie.id }}">
                                {% include 'widgets/items/movie.html' %}
                            </div>
                        {% endfor %}
                    </div>
                    <div id="next-items-{{ movie.id }}" class="slider-control next"></div>
                </div>
            {% endif %}
        </div>
    </div>


    <div class="mobile-movie-menus">
		<div class="mobile-movie-info-trigger">
			<a href="javascript:;">{% trans 'Directed By' %} <i class="fa fa-chevron-down"></i></a>
		</div>
		<div class="mobile-movie-info-target">
		    <div id="profile-directors">
		        <h3>{% trans 'Directed By' %}</h3>
		        <ul class="credits-list">
                    {% for director in movie.directors.all %}
                        <li class="credits-list-item"><a href="{{ director.person.get_absolute_url }}">{{ director }}</a></li>
                    {% endfor %}
                </ul>
		    </div>
		</div>

		<div class="mobile-movie-info-trigger">
			<a href="javascript:;">{% trans 'Featuring' %} <i class="fa fa-chevron-down"></i></a>
		</div>
		<div class="mobile-movie-info-target">
		    <div id="profile-directors">
		        <h3>{% trans 'Featuring' %}</h3>
		        <ul class="credits-list">
                    {% for director in movie.directors.all %}
                        <li class="credits-list-item"><a href="{{ director.path|wrapped_url }}">{{ director }}</a></li>
                    {% endfor %}
                </ul>
		    </div>
		</div>

		<div class="mobile-movie-info-trigger">
			<a href="javascript:;">{% trans 'Written By' %} <i class="fa fa-chevron-down"></i></a>
		</div>
		<div class="mobile-movie-info-target">
		    <div id="profile-directors">
		        <h3>{% trans 'Written By' %}</h3>
		        <ul class="credits-list">
                    {% for director in movie.directors.all %}
                        <li class="credits-list-item"><a href="{{ director.person.get_absolute_url }}">{{ director }}</a></li>
                    {% endfor %}
                </ul>
		    </div>
		</div>

    </div>
{% endblock %}

{% block extra_body_content %}
    {{ block.super }}
    <script>
        var SimilarMovieRowFocus =  $("#widget-row-{{ movie.id }}");
        SimilarMovieRowFocus.bxSlider({
            minSlides: 2,
            maxSlides: 5,
            slideWidth: 175,
            slideMargin: 16,
            pager: false,
            adaptiveHeight: true,
            nextSelector: "#next-items-{{ movie.id }}",
            prevSelector: "#prev-items-{{ movie.id }}",
            prevText: '<i class="fa fa-angle-left"></i>',
            nextText: '<i class="fa fa-angle-right"></i>'
        });
        $('.carousel').css('margin-top','10px');

        $('.mobile-movie-info-trigger a').click(function(){
            if($(this).children().first().hasClass('fa-chevron-down')) {
                $(this).parent().next().slideDown();
                $(this).children().first().attr('class','fa fa-chevron-up');
                mobileWidgetRow.reloadSlider();
            }
            else {
                $(this).parent().next().slideUp();
                $(this).children().first().attr('class','fa fa-chevron-down');
            }
        });
    </script>
{% endblock %}