{% extends 'base.html' %}

{% block page_title %}
    {{ page.name|safe }}
{% endblock %}

{% block messages %}
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
  {% endif %}
{% endblock %}

{% block content %}
    <span>
        <ul id="widgets-list">
            {% for widget in page.widgets %}
                <li class="widget">
                    {% if widget.template_name %}
                        {% include widget.template_name %}
                    {% else %}
                        <pre>
                            {{ widget }}
                        </pre>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </span>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript">

      $('.rate-it').raty({
          cancel    : false,
          half      : true,
          size      : 24,
          starHalf  : 'star-half.png',
          starOff   : 'star-off.png',
          starOn    : 'star-on.png',
          path      : '{{ STATIC_URL }}/images/raty',
          score: function() {
            return $(this).attr('data-score');
          }
      });

      function addSeenMovie(movie_id) {
        var params = {movie: movie_id};
        console.log(params)
        $.ajax({
            url: '{% url "user_seen_movie" %}',
            type: 'POST',
            data: JSON.stringify(params),
            contentType: 'application/json',
            dataType: 'text',
            processData: true,
            success: function(response) {
                console.log(response)
                var response_data = JSON.parse(response);
                
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
      };

      $('.seen-it-link').click(function() {
          var movie_id = $(this).parent().parent().attr('id');
          addSeenMovie(movie_id);
          $( ".seen-it" ).replaceWith('<div class="rating-text">Rate it!</div><div class="rate-it"><a class="rate-it-link" href="javascript:;"></a></div>' );
          $('.rate-it').raty({
            cancel    : false,
            half      : true,
            size      : 24,
            starHalf  : 'star-half.png',
            starOff   : 'star-off.png',
            starOn    : 'star-on.png',
            path      : '{{ STATIC_URL }}/images/raty',
            score: function() {
              return $(this).attr('data-score');
            }
          });
      });


      function addRatedMovie(movie_id, rating) {
        var params = {movie: movie_id, rating:rating};
        console.log(params)
        $.ajax({
            url: '{% url "user_rated_movie" %}',
            type: 'POST',
            data: JSON.stringify(params),
            contentType: 'application/json',
            dataType: 'text',
            processData: true,
            success: function(response) {
                console.log(response)
                var response_data = JSON.parse(response);
            },
            error: function (jqXhr, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
      };

      $('.rate-it').click(function() {
        $(".rating-text").replaceWith('<div class="rating-text">Your rating: </div>');
        var movie_id = $(this).parent().attr('id');
        var rating = $(this).find('input').attr('value');
        console.log(rating);
        addRatedMovie(movie_id, rating);
      });

  </script>


{% endblock %}