{% extends 'base.html' %}

{% block title %}{{ user.username }}'s profile | The Ape{% endblock %}

{% block content %}
<div class="user-profile">

	<div class="user-profile-info">
		<span><b>Email:</b> {{ user.username }}</span>
		<span><b>Date joined:</b> {{ user.date_joined.date }}</span>
	</div>

	<div class="user-profile-classes">
		<p class="widget-header">{{ user.username }}'s classes</p>
		<table title="My classes">
			<tr>
				<th>Start Date</th>
				<th>Class</th>
				<th>Registration</th>
			</tr>
			{% for class in user.profile.classes.all %}
				<tr>
					<td>{{ class.start_day }}</td>
					<td>{{ class.name }}</td>
					<td>{{ class.registration_link }}</td>
			{% endfor %}
			{% if not user.profile.classes.exists %}
				<tr>
					<td></td>
					<td>Classes you register for will show up here.</td>
				</tr>
			{% endif %}
		</table>
	</div>
	<div class="user-profile-shows">
		<p class="widget-header">{{ user.username }}'s shows</p>
		<table title="My shows">
			<tr>
				<th>Start Time</th>
				<th>Show</th>
				<th>Ticket</th>
			</tr>
			{% for show in user.profile.shows.all %}
				<tr>
					<td>{{ show.date }}</td>
					<td>{{ show.name }}</td>
					<td>{{ show.ticket_link }}</td>
				</tr>
			{% endfor %}
			{% if not user.profile.shows.exists %}
				<tr>
					<td></td><td>Shows you purchase tickets for will show up here.</td>
				</tr>
			{% endif %}
		</table>
	</div>
</div>
{% endblock %}