{% extends 'base.html' %}
{% load page_tags %}

{% block title %}{{ user.first_name }}'s page | The Ape{% endblock %}

{% block content %}
	<div class="gallery">
		<div class="widget-header">
	        <h2 class="widget-title">Profile</h2>
	    </div>
		<div class="user-profile-info">
			<span><b>Name:</b> {{ user.first_name }}&nbsp;{{ user.last_name }}</span>
			<span><b>Email:</b> {{ user.email }}</span>
			<span><b>Date joined:</b> {{ user.date_joined.date }}</span>
		</div>
	</div>
	<div class="gallery">
		<div class="widget-header">
	        <h2 class="widget-title">Shows</h2>
	    </div>
		<div class="user-profile-shows">
			{% for show in user.profile.shows.all %}
				<div class="user-profile-show">
					<div>{{ show.name }}</div>
					<div>{{ show.event_day|safe }}, {{ show.event_time }}</div>
					<div><a target="_blank" href="{{ show.id|ticket_link:user.profile.id }}">View Ticket</a></div>
				</div>
			{% endfor %}
			{% if not user.profile.shows.exists %}
				<div>Shows you purchase tickets for will show up here.</div><div></div><div></div>
			{% endif %}
		</div>
	</div>
	<div class="gallery">
		<div class="widget-header">
	        <h2 class="widget-title">Classes</h2>
	    </div>
		<div class="user-profile-classes">
			{% for class in user.profile.classes.all %}
				<div class="user-profile-class">
					<div>{{ class.name }}</div>
					<div>{{ class.start_day }}</div>
					<div><a target="_blank" href="{{ class.id|class_registration_link:user.profile.id }}">View Registration</a></div>
				</div>
			{% endfor %}
			{% if not user.profile.classes.exists %}
				<div>Classes you register for will show up here.</div>
				<div></div><div></div>
			{% endif %}
		</div>
	</div>
{% endblock %}