{% load page_tags %}

{% if movie.image %}
    <div class="movie-image-wrap">
        <a href="{{ movie.path|wrapped_url }}">
            <img class="movie-image" src="{{ movie.image.url }}" 
                    alt="{{ movie.title }} image">
        </a>
    </div>
    
    {% if movie.title %}
        <p class="movie-title">{{ movie.title|safe }} - ({{ movie.year }})</p>
    {% endif %}

{% else %}
    <div class="movie-title-only-container">
        <a class="movie-title-only-link" href="#">
        {% if movie.title %}
            <strong>{{ movie.title|safe }}</strong>
        {% endif %}
        </a>
    </div>
{% endif %}
