{% load page_tags %}

<a class="ape-class-name" href="{% url 'ape_class_wrapper' ape_class.id %}">{{ ape_class.name|safe }}</a>
{% if ape_class.teacher %}
<span class="ape-class-teacher"> with <a href="{% url 'person_wrapper' ape_class.teacher.id %}">{{ ape_class.teacher.name }}</a></span>
{% endif %}

<span class="ape-class-bio">Starts: {{ ape_class.start_date }}</span>

<div class="ape-class-item-tickets">
	{% if request.user.is_authenticated %}
		<a data-toggle="modal" href="#sq-ccbox"><button class="ape-button">Register!</button></a>
	{% else %}
		<a data-toggle="modal" href="{% url 'registration_register' %}"><button class="ape-button">Register!</button></a>
	{% endif %}
</div>