{% load page_tags %}
<div class="event-image-wrap">
    <a href="{{ event.path|wrapped_url }}">
        <img class="event-image" src="{{ event.image }}" 
                alt="{{ event.name }} image">
    </a>
</div>
<p class="event-name">{{ event.name }}</p>
<p class="event-time">{{ event.event_day}} at {{ event.event_time }}</p>

<div class="ape-class-page-tickets">
	<a data-toggle="modal" href="{% url 'event_wrapper' event.id %}">
		<button class="ape-button">Get Tickets</button>
	</a>
</div>

