{% load page_tags %}
<div class="event-image-wrap">
    <a href="{{ event.path|wrapped_url }}">
        <img class="event-image" src="{{ event.image }}" 
                alt="{{ event.name }} image">
    </a>
</div>
<p class="event-name">{{ event.name }}</p>
<p class="event-time">{{ event.event_day|safe }} at {{ event.event_time }}</p>

<div class="ape-class-page-tickets">
    {% if event.id|is_sold_out %}
    	<a data-toggle="modal" href="javascript;">
			<button disabled='disabled' class="sold-out-button">Sold Out</button>
		</a>
    {% else %}
		<a data-toggle="modal" href="{% url 'event_wrapper' event.id %}">
			<button class="ape-button">Purchase Tickets</button>
		</a>
	{% endif %}
</div>

