{% load page_tags %}
<div class="widget-person">
    <a href="{{ person.path|wrapped_url }}">
        {% if person.image %}
            <div class="widget-person-image-wrap">
            	<img class="widget-person-image" src="{{ person.image }}" 
                	alt="{{ person.name }} image">
                	<span class="widget-person-name">{{ person.name }}</span>
               </div>
        {% else %}
            <img class="widget-person-image" src="{{ person.image }}" 
                alt="{{ person.name }} image">{{ person.name }}
        {% endif %}
    </a>
</div>